name: Check

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install uv & Python
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        cache-dependency-glob: "uv.lock"
    - name: Ruff format
      run: |
        uv run ruff format --diff --exit-non-zero-on-format
    - name: Ruff check
      run: |
        uv run ruff check
